aside{
    background-color: rgb(31, 40, 70);
    height: 100%;
    transition: width 0.3s ease;
    overflow: hidden;

}

aside.expanded{
    width: 20rem;
}

aside.collapsed{
    width: 0;
}
aside div{
    display: flex;
    padding-left: 1rem;
}

.profileMenu{
    margin-top: 1rem;
    margin-bottom: 5rem;
}

#profileLink{
    margin: 0;
}

.sidebarToggle{
    width: 25px;
    margin-left: auto;
    padding-right: 5px;
}